# บันทึกไฟล์ที่เกี่ยวข้องกับระบบปฏิบัติการ
*.log
*.swp
Thumbs.db
.DS_Store

# ไฟล์ที่เกี่ยวข้องกับ Node.js
node_modules/

# ไฟล์ Docker ที่ต้องการไม่ให้ติดตาม
docker-compose.yml

# โฟลเดอร์ที่เกี่ยวข้องกับ Docker
/docker/

# ไฟล์และโฟลเดอร์ที่เกี่ยวข้องกับการ Build
bin/
obj/

# ไฟล์ที่เกี่ยวข้องกับ Visual Studio
.vs/
.vscode/

# ไฟล์ที่เกี่ยวข้องกับการจัดการ NuGet
packages/
project.lock.json

# ไฟล์ที่เกี่ยวข้องกับการ Build
node_modules/
dist/
tmp/